% rebase("base.html")

<form method="POST">
    <div class="level-right">
        <p><h3>Dodaj kategorijo:</h3></b>
            <div class="panel-block">
                <form action="/dodaj_kategorijo/" method="POST">
                    ime kategorije: <input type="text" name="ime_kategorije">
                    <p><input type="submit" value="Dodaj kategorijo!" href="/"></p>
                </form>
            </div>
        </form>
    </div>
        % if "ime" in napake:
        <p class="help is-danger">{{ napake["ime"] }}</p>
        % end
    </div>
    <div class="field is-grouped">
        <div class="control">
            <a class="button is-link is-light" href="/">Prekliči</a>
        </div>
    </div>
</form>

