% rebase('base.html')
<!-- Main container -->
<nav class="level">
    <div class="level-left">
        <form method="POST" action="/zamenjaj-aktualno-kategorijo/">
            <div class="buttons has-addons field is-horizontal">
                % for indeks, recept in enumerate(recepti):
                % if kategorija == aktualna_kategorija:
                <button class="button is-primary is-selected" name="indeks" value="{{indeks}}">
                    {{kategorija.ime}}
                    <span class="tag is-rounded">{{kategorija.stevilo_receptov()}}</span>
                </button>
                % else:
                <button class="button" name="indeks" value="{{indeks}}">
                    {{spisek.ime}}
                    <span class="tag is-rounded">{{kategorija.stevilo_receptov()}}</span>
                </button>
                % end
                % end
            </div>
        </form>

    </div>

    <div class="level-right">
        <!-- <div class="level-item">
            <p class="subtitle is-5">
                <strong>123</strong> posts
            </p>
        </div> -->
            <div class="level-item">
                <a class="button is-info" href="/dodaj-kategorijo/">dodaj kategorijo</a>
            </div>
        </form>
    </div>
</nav>

% if aktualna_kategorija:

<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <form method="POST" action="/dodaj/">
                <td></td>
                <td>
                    <div class="control has-icons-left">
                        <input class="input is-small" type="text" name="ime" placeholder="ime">
                        <span class="icon is-small is-left">
                            <i class="far fa-clipboard-check"></i>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="control has-icons-left">
                        <input class="input is-small" type="text" name="stevilo_oseb" placeholder="stevilo_oseb">
                        <span class="icon is-small is-left">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="control has-icons-left">
                        <input class="input is-small" type="text" name="tezavnost" placeholder="tezavnost">
                        <span class="icon is-small is-left">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="control has-icons-left">
                        <input class="input is-small" type="text" name="postopek" placeholder="postopek">
                        <span class="icon is-small is-left">
                            <i class="far fa-sticky-note"></i>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="control">
                        <button class="button is-info is-small">dodaj</button>
                    </div>
                </td>
            </form>
        </tr>
    </thead>
    <tbody>
        % for indeks, opravilo in enumerate(opravila):
        <tr>
            <td>
                <form method="POST" action="/zamenjaj-opravljeno/">
                    <input type="hidden" name="indeks" value="{{indeks}}">
                    <button class="button is-white">
                        <span class="icon is-small">
                            % if recept == aktualni_recept:
                            <tr>
                                <form method="POST" action="/dodaj-sestavino/">
                                    <td></td>
                                    <td>
                                        <div class="control has-icons-left">
                                            <input class="input is-small" type="text" name="ime" placeholder="ime">
                                            <span class="icon is-small is-left">
                                                <i class="far fa-clipboard-check"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="control has-icons-left">
                                            <input class="input is-small" type="text" name="kolicina" placeholder="kolicina">
                                            <span class="icon is-small is-left">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="control">
                                            <button class="button is-info is-small">dodaj</button>
                                        </div>
                                    </td>
                                </form>
                            </tr>                            
                            % end
                        </span>
                    </button>
                </form>
            </td>
            <td>{{ recept.ime }}</td>
            <td>{{ recept.stevilo_oseb }}</td>
            <td>{{ recept.tezavnost }}</td>
            <td>{{ recept.postopek }}</td>
            <td>{{ recept.sestavine }}</td>
            <td></td>
        </tr>
        % end
    </tbody>
</table>

% else:

<p>Nimate še nobene kategorije. <a href="/dodaj-kategorijo/">Dodajte jo!</a></p>